<!doctype html>
<html>
<head>
  <title>Administration</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <!--<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">-->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.bootcss.com/element-ui/2.4.0/theme-chalk/index.css" rel="stylesheet">
  <link rel="stylesheet" href="./image-cropper/dist/cropper.css">
  <link rel="stylesheet" href="./image-cropper/cropper.css">
  <script type="text/javascript" src="./image-cropper/dist/cropper.js"></script>
  <!--富文本编辑器-->
  <link href="https://cdn.bootcss.com/quill/1.3.6/quill.snow.min.css" rel="stylesheet">
  <link href="https://cdn.bootcss.com/quill/1.3.6/quill.bubble.min.css" rel="stylesheet">
</head>
<body>
<div class="container" id="app" style="margin: 20px 50px">
  <div v-if="!authToken">
    <h1>登陆管理界面</h1>
    <form>
      <div class="form-group">
        <label for="usernameInput">用户名</label>
        <input type="text" class="form-control" id="usernameInput" v-model="username" placeholder="用户名">
      </div>
      <div class="form-group">
        <label for="passwordInput">密码</label>
        <input type="password" class="form-control" id="passwordInput" v-model="password" placeholder="密码">
      </div>
      <button type="button" class="btn btn-primary" @click="login">登陆</button>
    </form>
  </div>
  <div v-if="authToken">

    <!----------标签管理----------->
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
      添加或删除标签
    </button>
    <!--<div class="collapse" id="collapseExample">-->
    <div class="collapse" id="collapseExample">
      <div class="card card-body">
        <div>
          <!--todo：禁止添加逗号，后台多个标签以逗号为分隔-->
          <el-select v-model="value4" clearable placeholder="请选择要添加或删除的标签">
            <el-option
                v-for="item in all_tags"
                :key="item.value"
                :label="item.label"
                :value="item.value">
            </el-option>
          </el-select>
          <el-button>添加</el-button>
          <el-button type="danger">删除</el-button>
        </div>
      </div>
    </div>
    <!----------end-标签管理----------->
    <hr>
    <!-------全部博文----------->
    <h2>全部博文</h2>
    <div v-for="post in posts" class="card" style="margin-bottom: 15px; width: 70%">
      <!--<img class="card-img-top" :src='setImgurl(post.img_url)' style="width:100%; height: 150px;" alt="Card image cap">-->
      <div class="card-block" style="padding:15px 15px 10px;">
        <h4 class="card-title">{{ post.title }}</h4>
        <p class="info" style="color: #aaa">创建：{{post.createTime }} | 更新：{{post.updateTime}}</p>
        <p class="des" style="text-indent: 2ch;">{{post.desc}} </p>
        <div class="foot">
          <span v-for="tag in post.tags.split(',')" style="background: #9d9d9d;color: #fff; margin-right: 5px; padding: 2px; border-radius: 5px;" class="tag">{{tag}}</span>
          <!--<span class="pull-left tag">#标签</span>-->
          <div class="float-right">
            <button id="edit-button" class="btn btn-primary" @click="edit(post)">编辑</button>
            <button class="btn btn-danger" @click="deletePost(post.id)">删除</button>
          </div>
          <!--<router-link :to="{name:'detail' , params: { id:2 }}" class="pull-right link">继续阅读 >></router-link>-->
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
    <!--------- end - 全部博文-->

    <!-----------编辑-->
    <!--<div v-if="editingPost">-->
      <!--<input type="text" class="form-control" v-model="editingPost.title" placeholder="标题" />-->
      <!--<textarea v-model="editingPost.content" class="form-control" style="height: 200px" placeholder="内容"></textarea>-->
      <!--<button type="button" class="btn btn-primary" @click="savePost">保存</button>-->
    <!--</div>-->
    <!-----------end -编辑-->

    <hr>
    <hr>
    <hr>
    <h2 id="edit-section">编辑模块</h2>
    <!---------------添加-->
    <input type="text" class="form-control" v-model="title" placeholder="标题" />

    <el-select v-model="tags" multiple placeholder="请选择标签" style="margin:15px 0">
      <el-option
          v-for="item in all_tags"
          :key="item.value"
          :label="item.label"
          :value="item.value">
      </el-option>
    </el-select>

    <textarea v-model="desc" class="form-control" style="height: 100px" placeholder="添加描述"></textarea>


    <!----------------图片剪裁-->
    <div class="form">
      <p>
        <button class="btn-upload btn-lg">选择图片</button>
        <input type="file" name="avatar" id="cropper-input"/>
        Support formats: JPG, PNG
      </p>
      <div class="preview-container">
        <div class="image-container target" id="cropper-target">
          <img id="img-target" :src="default_img" class="noavatar" />
        </div>
        <div class="large-wrapper">
          <div class="image-container large" id="preview-large">
            <div class="image-wrapper">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" class="noavatar" />
            </div>
          </div>
          <p>Large</p>
        </div>
        <div>
          <div class="image-container medium" id="preview-medium">
            <div class="image-wrapper">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" class="noavatar" />
            </div>
          </div>
          <p>Medium</p>
          <div class="image-container small" id="preview-small">
            <div class="image-wrapper">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" class="noavatar" />
            </div>
          </div>
          <p>Small</p>
        </div>
      </div>

      <!--<button @click="imgPost()">上传</button>-->
    </div>
    <!------------end - 图片剪裁-->


    <!----------富文本编辑器-->
    <div style="margin-bottom:15px">
      <!--当toolbar以container的形式注册时需要显式地写出这些标签-->
      <div id="editor_header" style="display: none;">
        <!--字体大小-->
        <select class="ql-size">
          <option value="small"></option>
          <!-- 默认按钮 -->
          <option selected></option>
          <option value="large"></option>
          <option value="huge"></option>
        </select>
        <!--加粗按钮-->
        <button class="ql-bold"></button>
        <!--上标、下标按钮-->
        <button class="ql-script" value="sub"></button>
        <button class="ql-script" value="super"></button>
        <!--自定义按钮-->
        <button id="my_button"></button>
      </div>
      <div id="editor" style="min-height: 180px;">
        <!--可以直接在指定元素内加入文本或者html标签-->
        <!--<p>Hello Quill!</p>
        <p>Some initial <strong>bold</strong> text</p>
        <p><br></p>-->
      </div>
    </div>
    <!--<button @click="testQuill" class="btn btn-primary">上传</button>-->
    <!----------end - 富文本编辑器-->

    <div v-if="!editingPost">
      <button type="button" class="btn btn-primary" @click="newPost(0)">新建博文</button>
    </div>
    <div v-else>
      <button type="button" class="btn btn-primary" @click="newPost(1)">修改博文</button>
      <button type="button" class="btn btn-default" @click="cancelEdit">取消修改</button>
    </div>
    <!------------- end - 添加-->
  </div>

  <!--回到顶部按钮-->
  <button class="btn btn-light" @click="goTop()" style="position: fixed; bottom: 20px; right: 20px">回到顶部</button>
  <button class="btn btn-primary" @click="goEdit()" style="position: fixed; top: 20px; right: 20px">+ 新建博文</button>

</div>

<!--<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>-->
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<!--<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.17.1/axios.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.min.js"></script>
<script src="https://cdn.bootcss.com/element-ui/2.4.0/index.js"></script>

<!--富文本编辑器-->
<script src="https://cdn.bootcss.com/quill/1.3.6/quill.js"></script>

<script src="js/admin.js"></script>
<!--@import VueCropper from "../../node_modules/vue-cropper"-->
<script>

</script>
</body>
</html>
